# Houdini-Specific Files
*.hip*
*.hipnc*
*.hiplc*
*.bgeo*
*.bgeo.sc*
*.pic*
*.pic.sc*
*.rat*
*.rat.sc*
*.ifd*
*.ifd.sc*
*.chan*
*.chan.sc*
*.sim*
*.sim.sc*
*.vdb*
*.vdb.sc*
*.mantra*
*.mantra.sc*
*.parm*
*.parm.sc*
*.otl*
*.otl.sc*
*.hda*
*.hda.sc*
*.hdanc*
*.hdanc.sc*
*.hdalc*
*.hdalc.sc*
*.cmd*
*.cmd.sc*

# Houdini Backup and Cache
*.hip~
*.hiplc~
*.hipnc~
houdini_temp/
houdini_temp_cache/
$HOME/houdini_temp/
$HOME/houdini16.5_temp/
$HOME/houdini17.0_temp/

# Houdini Render Cache
*.bgeo
*.bgeo.sc
*.vdb
*.pic
*.pic.gz

# Houdini Simulation Cache
*.sim
*.simdata

# Houdini Flipbook Images
*.exr
*.jpg
*.png
*.tiff

# Houdini User Preferences
$HOME/houdiniX.Y/

# Other Houdini Files
crash.*.log
*.lock

# Unity-Specific Files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity Memory Captures
/[Mm]emoryCaptures/

# Unity Recordings
/[Rr]ecordings/

# Unity Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Unity Temporary Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Visual Studio and JetBrains
.vs/
.gradle/
ExportedObj/
.consulo/
[Aa]ssets/Plugins/Editor/JetBrains*

# Unity Build Files
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Unity Crashlytics
crashlytics-build.properties

# General Exclusions
*.py
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.exe
*.ipa
*.apk
*.obj
*.o
*.a
*.lib
*.pdb
*.ilk
*.exp
*.manifest
*.res
*.rc
*.idb
*.ncb
*.pch
*.sdf
*.suo
*.user
*.sln
*.vcxproj*
*.vspscc
*.vssscc
*.scc
*.log
*.bak
*.tmp
*~
*.swp